* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0396ff;
}

h1 {
  color: #f8f8ff;
  text-align: center;
  font-family: sans-serif;
  padding-top: 20px;
  margin-bottom: 70px;
}

.caluclator {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.inputField {
  margin-bottom: 10px;
}

.clear,
.add,
.equals,
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zero,
.multiply,
.subtract,
.divide,
.reset,
.inputField {
  padding: 20px;
}
